<div class="container-fluid" style="background-color: rgb(59, 50, 50);">
    <style>
        .footh{
            font-family: monospace;
            font-size: 29px;
            font-weight: bold;
            color: whitesmoke;
            text-align: center;
            text-decoration: dashed;
        }
        .footp{
            font-family: "Times New Roman";
            font-size: 22px;
            font-weight: bold;
            font-style: italic;
            color: whitesmoke;
            
        }
        .footp1{
            text-align: center;
            align-items: center;
            font-family: "Times New Roman";
            font-size: 22px;
            font-weight: bold;
            font-style: italic;
            color: whitesmoke;
        }
        hr.hr1 {
            width: 60vw;
  border-top: 1px dashed rgb(235, 186, 186);
}
    </style>
    <div class="row">
        <div class="col-md-3">
            <h1 class="footh">Files</h1>
            <hr><br>
            <p class="footp1"><a class="footp" href="">Company Profile</a></p>
            <p class="footp1"><a class="footp" href="{% url 'reference' %}">Project Reference</a></p>
            <p class="footp1"><a class="footp" href="{% url 'certificates' %}">Certificates</a></p>
            <p class="footp1"><a class="footp" href="{% url 'videos' %}">Video Gallery</a></p>
        </div>
        <div class="col-md-3">
           
            <h1 class="footh">Customers</h1>
             <hr> <br>
            <p class="footp1"><a class="footp" href="https://www.oilibiya.com">Oilibiya</a></p>
            <p class="footp1"><a class="footp" href=""></a></p>
            <p class="footp1"><a class="footp" href=""></a></p>
            <p class="footp1"><a class="footp" href=""></a></p>
        </div>
        <div class="col-md-3">
            <h1 class="footh">Adress</h1>
            <hr><br>
          <p class="footp1">Addis Ababa, Ethiopia</p>
        <p class="footp1">Stadium , Yeha City Center 2nd floor</p>
        <i class="fa fa-phone-square" aria-hidden="true"></i><p class="footp1"><a class="footp" href="tel:+251965464646">+251965464646</a></p>
        <p class="footp1"><a class="footp" href="mailto:niletechengineering.com">contact@niletechengineering.com</a></p>  
        </div>
        <div class="col-md-3">
            <h1 class="footh">Developer</h1>
            <hr><br>
            <p class="footp1">Tewodros Seble</p>
            <p class="footp1"><a class="footp" href="tel:+251940504171">+251940504171</a></p>
            <p class="footp1"><a class="footp" href="mailto:tedseble77@gmail.com">tedseble77@gmail.com</a></p>
        </div>
    </div>
   
<br><br> <br> <br>
    <div class="row"></div>
    
    <hr class="hr1">
    <div class="col"><p class="footp1">Copyright @ 2022</p></div>

 <br><br><br><br>
</div>