<div class="header">
	<div class="header-nav">
		<div class="container">
			<style>
				.tn1{
					font-weight: bold;
				}
			</style>
			<div class="logo">
				<a href="{% url 'index' %}"><h1>Nile-Tech</h1></a>
			</div>
			<div class="navigation">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only"></span>
							<span class="icon-bar"> </span>
							<span class="icon-bar"> </span>
							<span class="icon-bar"> </span>
						  </button>
						</div>
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						  <ul class="nav navbar-nav" style='align-items:inline'>	
							<li><a href="{% url 'index' %}" class="tn1">Home</a></li>
							<li><a href="{% url 'about' %}" class="tn1">About</a></li>
							<li><a href="{% url 'services' %}" class="tn1">Services</a></li>
							<li><a href="{% url 'blog' %}" class="tn1">Blog</a></li>
							<li><a href="{% url 'gallary' %}" class="tn1">Gallery</a></li>
							<li><a href="{% url 'contact' %}" class="tn1">Contact</a></li>
						  </ul>
				  <div class="clearfix"> </div>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
		</div>
		</div>
	</div>
				  <!-- script-for-menu -->
			 <script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle("slow" , function(){
						});
					});
			 </script>