{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block body %}
<section>{% comment %} 

<div class="banner-left">
	<div class="banner-title"> 
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="banner2 banner5">
					</div>
				</li>
	</ul>
</div>
<div class="clearfix"> </div>
</div>
</div>		 {% endcomment %}
<div class="banner-bottom-strip">
<div class="container">
<p>HardWork, Commitment and Opulence</p>
</div>
</div>	
<!--inner-page-about-->
<div class="abouts">
<div class="container">
<h3>About Us</h3>
<div class="about-main">
<div class="about-top">
<div class="col-md-5 about-top-left">
	<br> <br> <br>
	<img src="{% static 'images/a1.jpg' %}" class="img-responsive" alt=""/>
</div>
<style>
	.abtp{
		font-size: 18px!important;
		color: black!important;
	}
	.mes{
		height: 600px;
		width: 420px;
	}
	.abth{
		font-size: 24px;
		text-align: right;
	}
	.abth2{
		font-size: 27px;
		color: rgb(113, 113, 226);
		text-align: center;
	}
</style>
<div class="col-md-7 about-top-right col-sm-12">
	<h4>Company Infromation</h4>
<p class="abtp">Nile-Tech Engineering Plc., is Multi-Disciplinary Electro Mechanical and Information
	Technology Company in Ethiopia. The company is established to provide service in power
	system, control and automation system, air conditioner and refrigeration systems, Telecom
	and Networking, security control and building automations, fire and safety systems, Metal
	work engineering, reverse engineering and fabrications for both industrial and commercial
	Areas. The company works for continuous improvement of its services and product based on
	research and development, to service the ever fast growing industrial market as a result of
	implementing the Growth & Transformation Plan (GTP) as launched by the Ethiopian
	government. <br> <br></p>
</div>
	<hr>
	<p class="abtp" style="text-indent: 1.7em;">   The company is established by Mechanical Engineers and electrical engineers who have great
	working experience over 14 years both in government and non-government organizations; it
	is established according the commercial code of Ethiopia. Nile Tech’s staff comprises highly
	motivated and experienced engineers to carry out projects and services scoping from small to
	complex capitalizing on engineering as our core competence.
	</p>
<hr>
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<br><br> <br>
		<div class="card">
			<div class="card-body">
					<br><h4 class="abth2">Manager's Message</h4> <br>
					<img src="{% static 'images/manager.jpg'%}" alt="" class="mes">
			
				<p class="card-text abtp">We are Strifing our best to provide quality products and services to our local and international customesr.</p>
			<br>	<h6 class='abth'>Fisiha Birhane Lema</h6>
				<p class="abtp" style="text-align: right;">General Manager</p>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
	


<div class="clearfix"></div>
</div>
</div>
</div>	 
<br> <br> <br>
<hr>  <br> <br>
</section>
{% endblock body%}